/SchoolProject NB/nbproject/private/
/SchoolProject NB/dist/
/SchoolProject NB/build/
/SchoolArchive NB/nbproject/private/
/SchoolArchive NB/dist/
/SchoolArchive NB/build/
/SchoolArchive/*.ctxt
/SchoolArchive/*.class
